@import '../../styles/settings.scss';

.card {
    width: 18rem;
    margin: 20px;
    overflow: auto;
}

.cardImg {
    object-fit: 'cover';
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    height: 150px;
}

.cardBody {
    height: 165px;
    overflow-y: auto;
    text-overflow: ellipsis;
    
}

.cardText {
    overflow: hidden;
}