.link {
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

.link:hover {
    color: orange;
}

.title {
    text-decoration: none;
    color: white;
}

.title:hover {
    color: orange;
}
